{% extends 'layout.html' %}
{% block level_styles %}
    <script type="text/javascript" src="/static/js/modernizr.custom.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
    <link rel="stylesheet" type="text/css" href="/static/css/home_filter.css">
    <link rel="stylesheet" type="text/css" href="/static/css/responsive.css">
    <link rel="stylesheet" type="text/css" href="/static/css/daterangepicker.css">

    <link rel="stylesheet" type="text/css" href="/static/css/jquery-ui.min.css">
    <link rel="stylesheet" href="/static/css/home.css">
{% endblock %}
{% block body %}


    <div class="text-overlay-example">
        <!-- Navigation
        ==========================================-->
        <nav id="tf-menu" class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{% url 'home_page' %}">Tropicollage</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#tf-home" class="page-scroll">Home</a></li>
                        <li><a href="#tf-about" class="page-scroll">About</a></li>
                        <li><a href="#tf-works" class="page-scroll">Portfolio</a></li>
                        <li><a href="#tf-testimonials" class="page-scroll">Testimonials</a></li>
                        <li><a href="#tf-contact" class="page-scroll">Contact</a></li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>

        <!-- Home Page
        ==========================================-->
        <main id="tf-home">
            <div id="video-wrap" class="video-wrap">
                <video preload="metadata" autoplay loop muted="muted" id="my-video">
                    <source src="/static/media/movie.mp4" type="video/mp4">
                    <source src="/static/media/movie.webm" type="video/webm">
                    <source src="/static/media/movie.ogv" type="video/ogg">
                </video>
            </div>
            <div class="container-fluid">
                <div class="row main-filter">
                    <div class="content text-center">
                        <header class="text_promo">
                            <h1>Find the house to spend your vacations, Like a dream.</h1>
                        </header>
                        <form action="{% url 'casas' %}" class="form-inline" method="post">
                            {% csrf_token %}
                            <div class="row">
                                <div class="place">
                                    <select class="form-control" id="id_destination" name="destination" required>
                                          <option value>Select a place</option>
                                          {% for item in places %}
                                              <option value="{{ item }}">{{ item }}</option>
                                          {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="row">
                                <div class="to form-group col-sm-6">
                                    <input class="form-control" placeholder="Check-in" required type="text" id="endDate"
                                           name="endDate">
                                </div>
                                <div class="from form-group col-sm-6">
                                    <input class="form-control" type="text" required placeholder="check-out" id="startDate"
                                           name="startDate">
                                </div>
                            </div>

                            <div class="button_search">
                                <button type="submit" class="btn btn-default">Search</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </main>
        {#        <div class="content-overlay text-center">#}
        {#            <h1>Welcome home</h1>#}
        {##}
        {#            <p>Find the house to spend your vacations like a dream.</p>#}
        {#            <a href="{% url 'casas' %}" class="disc btn btn-success">Discover</a>#}

        {#            <div class="col-md-12 demo text-center">#}
        {#                <ul class="nav nav-tabs">#}
        {#                    <li class="active"><a data-toggle="tab" href="#casas">Casas</a></li>#}
        {#                    <li class=""><a href="#autos" data-toggle="tab">Autos</a></li>#}
        {#                </ul>#}
        {#                <div id="myTabContent" class="tab-content">#}
        {#                    <div class="tab-pane fade active in" id="casas">#}
        {#                        <div class="casas_home row">#}
        {#                            <div class="col-xs-12 row">#}
        {#                                <div class="label_Destino col-xs-12">#}
        {#                                    <label for="a">Destino</label>#}
        {#                                </div>#}
        {#                                <div class="col-xs-12">#}
        {#                                    <select name="provincias" id="a">#}
        {#                                        <option value="1">Pinar del Rio</option>#}
        {#                                        <option value="1">--Vinales</option>#}
        {#                                        <option value="1">Pinar del Rio</option>#}
        {#                                        <option value="1">Pinar del Rio</option>#}
        {#                                        <option value="1">Pinar del Rio</option>#}
        {#                                    </select>#}
        {#                                </div>#}
        {#                            </div>#}
        {#                            <div class="btn-group">#}
        {#                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">#}
        {#                                    Destino#}
        {#                                    <span class="caret"></span>#}
        {#                                </button>#}
        {#                                <ul class="dropdown-menu">#}
        {#                                    <li><a href="#">Pinar del Rio</a></li>#}
        {#                                    <li><a href="#">Dropdown link</a></li>#}
        {#                                </ul>#}
        {#                            </div>#}
        {#                        </div>#}
        {##}
        {#                    </div>#}
        {#                    <div class="tab-pane fade in" id="autos">#}
        {#                        <p>Raw denim you probablym </p>#}
        {#                    </div>#}
        {#                </div>#}
        {#                                <h2>Select the dates you want.</h2>#}
        {##}
        {#                                <form action="{% url 'fecha_search' %}" method="post">#}
        {#                                    {% csrf_token %}#}
        {#                                            <input type="hidden" id="in-date" name="in-date" value="">#}
        {#                                    <input type="hidden" id="out-date" name="out-date" value="">#}
        {#                                    <input type="text" id="demo" class="form-control" placeholder="Check-in">#}
        {#                                    <input type="submit" class="btn btn-block btn-info">#}
        {#                                </form>#}
        {#                <!-- <i class="glyphicon glyphicon-calendar fa fa-calendar"></i> -->#}
        {#            </div>#}

        {#        </div>#}
        <!-- About Us Page
        ==========================================-->
        <div id="tf-about">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <img src="../../static/img/team/02.jpg" class="img-responsive">
                    </div>
                    <div class="col-md-6">
                        <div class="about-text">
                            <div class="section-title">
                                <h4>About us</h4>

                                <h2 style="color:black">Some words <strong>about us</strong></h2>

                            </div>
                            <p class="intro">Somos un equipo con más de 5 años de experiencias, que siempre hemos tenido
                                la satisfacción de llegar a cumplir las aspiraciones de nuestros clientes, esperamos que
                                pasen las vacaciones de sus sueños.
                                Atentamente equipo <strong>Tropicollage</strong></p>

                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Clients Section
        ==========================================-->
        <div id="tf-clients" class="text-center">
            <div class="overlay">
                <div class="container">

                    <div class="section-title center">
                        <h2>The last<strong> Reservations</strong></h2>
                    </div>
                    <div id="clients" class="owl-carousel owl-theme">
                        {% for item in reservaciones %}
                            <div class="item">
                                <p>{{ item.first_name }} reservo la casa "{{ item.casa.nombre }}"
                                    desde {{ item.country }}</p>
                            </div>
                        {% endfor %}

                    </div>

                </div>
            </div>
        </div>

        <!-- Portfolio Section
        ==========================================-->
        <div id="tf-works">
            <div class="container"> <!-- Container -->
                <div class="title-contact text-center center">
                    <h2>Take a look at <strong>our services</strong></h2>

                    <div class="line">
                        <hr>
                    </div>
                    <div class="clearfix"></div>
                    <small><em>Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum"
                        (The
                        Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of
                        ethics,
                        very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit
                        amet..",
                        comes from a line in section 1.10.32.</em></small>
                </div>
                <div class="space"></div>

                {#                <div class="categories">#}
                {##}
                {#                    <ul class="cat">#}
                {#                        <li class="pull-left"><h4>Filter by Type:</h4></li>#}
                {#                        <li class="pull-right">#}
                {#                            <ol class="type">#}
                {#                                <li><a href="#" data-filter="*" class="active">All</a></li>#}
                {#                                <li><a href="#" data-filter=".web">Web Design</a></li>#}
                {#                                <li><a href="#" data-filter=".photography">Photography</a></li>#}
                {#                                <li><a href="#" data-filter=".app">Mobile App</a></li>#}
                {#                                <li><a href="#" data-filter=".branding">Branding</a></li>#}
                {#                            </ol>#}
                {#                        </li>#}
                {#                    </ul>#}
                {#                    <div class="clearfix"></div>#}
                {#                </div>#}

                <div id="lightbox" class="row">
                    {% for item in casas %}
                        <div class="col-sm-6 col-md-3 col-lg-3 branding">
                            <div class="portfolio-item">
                                <div class="hover-bg">
                                    <a href="#">
                                        <a href="{% url 'home_details' item.pk %}">
                                            <div class="hover-text">
                                                <h4>{{ item.nombre }}</h4>

                                                <h3>$ {{ item.precio_alta }}</h3>
                                            </div>
                                            <img src="/media/{{ item.foto_principal }}" class="img-responsive" alt="">
                                        </a>
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                </div>
            </div>
        </div>

        <!-- Testimonials Section
        ==========================================-->
        <div id="tf-testimonials" class="text-center">
            <div class="overlay">
                <div class="container">
                    <div class="section-title center">
                        <h2><strong>Our clients’</strong> testimonials</h2>


                    </div>
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">

                            {% for entity in feedbacks %}
                                <div class="item">
                                    <h5>{{ entity.body }}</h5>

                                    <p>user: <strong>{{ entity.usuario }}</strong></p>
                                </div>
                            {% endfor %}


                        </div>
                    </div>
                </div>
            </div>
        </div>
        {#TODO: Edit the search form in the tf-home #}
        <!-- Contact Section
        ==========================================-->
        <div id="tf-contact" class="text-center">
            <div class="container">

                <div class="row">
                    <div class="col-md-8 col-md-offset-2">

                        <div class="title-contact center">
                            <h2>Feel free to <strong>contact us</strong></h2>
                        </div>

                        <form action="" method="POST">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="email" name="username" class="form-control" id="exampleInputEmail1"
                                               placeholder="Enter email">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input class="form-control" name="email" id="exampleInputPassword1"
                                               placeholder="Email adress">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" name="message" rows="3"></textarea>
                            </div>

                            <button type="submit" class="btn tf-btn btn-default">Submit</button>
                        </form>

                    </div>
                </div>

            </div>
        </div>
        {% block level_scripts %}
            <script type="text/javascript" src="/static/js/jquery.1.11.1.js"></script>
            <script type="text/javascript" src="/static/js/SmoothScroll.js"></script>
            <script type="text/javascript" src="/static/js/jquery.isotope.js"></script>
            <script src="/static/js/owl.carousel.js"></script>
            <script type="text/javascript" src="/static/js/moment.js"></script>
            <script type="text/javascript" src="/static/js/main.js"></script>


            <script type="text/javascript" src="/static/js/backgroundVideo.js"></script>
            <script src="/static/js/jquery-ui.min.js"></script>

            <script>
                var isMobile = {
                    Android: function () {
                        return navigator.userAgent.match(/Android/i);
                    },
                    BlackBerry: function () {
                        return navigator.userAgent.match(/BlackBerry/i);
                    },
                    iOS: function () {
                        return navigator.userAgent.match(/iPhone|iPad|iPod/i);
                    },
                    Opera: function () {
                        return navigator.userAgent.match(/Opera Mini/i);
                    },
                    Windows: function () {
                        return navigator.userAgent.match(/IEMobile/i);
                    },
                    any: function () {
                        return (isMobile.Android() || isMobile.BlackBerry() || isMobile.iOS() || isMobile.Opera() || isMobile.Windows());
                    }
                };

                $(document).ready(function () {

                    if (isMobile.any()) {
                        $('#my-video').attr('poster', '/static/img/poster.jpg');
                        $('#my-video').removeAttr('autoplay');
                    }

                    $('#my-video').backgroundVideo({
                        pauseVideoOnViewLoss: true,
                        parallaxOptions: {
                            effect: 1.7
                        }
                    });

                    $('#startDate').datepicker({
                        defaultDate: "+lw",
                        changeMonth: true,
                        onClose: function (selectedDate) {
                            $("endDate").datepicker("option", "maxDate", selectedDate);
                        }
                    });

                    $('#endDate').datepicker({
                        defaultDate: "+lw",
                        changeMonth: true,
                        onClose: function (selectedDate) {
                            $("#startDate").datepicker("option", "minDate", selectedDate);
                        }
                    });

                    $('#myTab a').click(function (e) {
                        e.preventDefault();
                        $(this).tab('show')
                    });



                })
                ;
            </script>
        {% endblock %}


    </div>
{% endblock %}