borderRadius(amount)
  -webkit-border-radius amount
  -moz-border-radius amount
  -o-border-radius amount
  border-radius amount

.form-control
  borderRadius(0)

.btn-default
  background-color #FCAC45
  color white
  border 1px solid #FCAC45
.main-filter
  position absolute
  color white
  top 32%
  z-index 20
  .content
    background rgba(0, 0, 0, 0.6)
    padding 5px
    //.place
     // select
     //   borderRadius(0)
     // width 20%
     // display inline-block
    //.to
    	//display block
    	//color black
    	//width 20%
    	//input
    	//	height 34px
	//.from
    	//display inline-block
    	//color black
    	//width 20%
    	//input
    	//	height 34px
    .button_search
      button
        borderRadius(0)
      display inline-block

@media screen and (min-width 147px) and (max-width 768px)
  .place
    display block !important
    width 100% !important
    margin-bottom 5px

.casas_home
  background white
  //height 44px
  width 210px
  .btn-group
    //position absolute
    top 13%
    left -18%
    button
      borderRadius(0)
  select
    -webkit-appearance none !important
    background-position 100% center
    background-repeat no-repeat
    border-style solid
    border-width 1px
    float left
    border-color #ccc
    padding 0.5em
    font-size 0.875rem
    color rgba(0,0,0,0.75)
    line-height normal
    borderRadius(0)
    height 2.3125rem