center(wo)
  margin-left 0% - (wo / 2)
  left 50%

entire_section()
  display block !important
  width 100% !important

half_section()
  display inline-block !important
  width 50% !important

#tf-menu
  background-color rgba(0, 0, 0, .89) !important

.row
  margin 0
.col-sm-6
  padding 0 !important
@media screen and (max-width 767px)
  .main-filter
    top 27%
    margin-left -41%
    left 41%
    right 0
  .place
    margin-bottom 0 !important
    .form-control
      entire_section()
  .col-sm-6
    margin-bottom 0 !important
  .from
    entire_section()
    input
      entire_section()
  .to
    entire_section()
    input
      entire_section()
  .button_search
    entire_section()
    padding-bottom 6%
    button
      entire_section()



//@media screen and (min-width 480px)
//  .main-filter
//    margin-left -41%
//    left 41%
//    right 3%

@media screen and (min-width 768px) and (max-width 991px)
  .main-filter
    margin-left -41%
    left 41%
    right 0
  .place
    margin-bottom 0 !important
    .form-control
      entire_section()

  .from
    padding-left 0
    input
      width 100% !important
      margin-right 0
  .to
    padding-right 0
    input
      width 100% !important
  .button_search
    entire_section()
    padding-bottom 6%
    button
      entire_section()
  .col-sm-6
    margin-bottom 5px


@media screen and (min-width 992px)
  .main-filter
    margin-left -25%
    left 50%
    right 25%
    .row
      display inline-block
  .place
    margin-bottom 0 !important
    .form-control
      margin-left 0