h5 {
  width: 100%;
}
a {
  color: #959595;
}
* {
  overflow-x: initial;
}
hr {
  width: 96%;
}
.star {
  color: #ffb400;
}
.list_casas {
  margin-left: 11px;
  margin-top: 50px;
}
.list_casas #home_list {
  left: 18%;
}
.reviews button {
  width: 120%;
}
.btn-filtros {
  margin-left: 6.1%;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  width: 83%;
  height: 40px;
  -webkit-box-shadow: 2px 2px 10px rgba(65,63,61,0.7);
  -moz-box-shadow: 2px 2px 10px rgba(65,63,61,0.7);
  box-shadow: 2px 2px 10px rgba(65,63,61,0.7);
}
.item {
  padding-bottom: 1.5em;
  background: #fff;
  margin-left: 26px;
  margin-bottom: 15px;
  -webkit-box-shadow: 2px 2px 10px rgba(65,63,61,0.7);
  -moz-box-shadow: 2px 2px 10px rgba(65,63,61,0.7);
  box-shadow: 2px 2px 10px rgba(65,63,61,0.7);
}
.categoria {
  position: absolute;
  top: 3%;
  right: 13%;
}
.checkbox {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
.panel {
  right: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  border: 0;
  display: block;
  position: relative;
  width: 83%;
  left: 6.1%;
  margin-top: 0.4%;
  -webkit-box-shadow: 2px 2px 10px rgba(65,63,61,0.7);
  -moz-box-shadow: 2px 2px 10px rgba(65,63,61,0.7);
  box-shadow: 2px 2px 10px rgba(65,63,61,0.7);
}
.buttons_filters {
  position: relative;
}
.name_filter {
  margin-left: 14px;
  font-size: 15px;
}
#id_cant_habitaciones {
  width: 54px;
}
.each_filter {
  display: inline-block;
}
.filter_select select {
  background: transparent;
}
#filtrar {
  background: #e45959;
  margin-bottom: 15px;
  color: #fff;
  margin-left: 11px;
  width: 102%;
  font-size: 19px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
#all {
  position: absolute;
  right: -7%;
  background: #e45959;
  color: #fff;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
#arrow_down_rooms {
  font-size: 17px;
  float: right;
  margin-left: 12px;
}
.filtros {
  position: fixed;
  left: 0;
  z-index: -1;
  width: 17%;
  background: #eee;
  text-align: center;
  top: 51px;
  bottom: 0;
}
.filtros .tipos_filtros {
  margin-top: 46px;
  margin-bottom: 5px;
  margin-left: 11px;
  border: 1px solid #999090;
}
.filtros .tipos_filtros .filtros_title {
  height: 52px;
  background: #e45959;
  border-bottom: 1px solid #999090;
}
.filtros .tipos_filtros .filtros_title h2 {
  color: #fff;
  margin-top: 6px;
}
.buttons_price input {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
.buttons_price span {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
.text_truncate {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.filter h4 {
  display: block;
  float: left;
}
.filter label {
  font-size: 16px;
}
.filter .one_filter_title {
  position: relative;
  right: -2%;
}
.filter .one_filter_title .icons {
  font-size: 18px;
  margin-right: 2px;
}
.filter .one_filter_title #medal {
  font-size: 18px;
  color: #ffb400;
  margin-right: 2px;
}
.filter .one_filter_title #bombillo {
  margin-left: 16px;
  font-size: 14px;
  color: #ffb400;
}
.filter .one_filter_title #arrow_down {
  font-size: 17px;
  float: right;
  margin-left: 12px;
}
.filter hr {
  border-top: 1px solid #769285;
  position: relative;
  left: 8%;
  width: 105%;
}
.filter .precio input {
  width: 66px;
}
.irs {
  border-radis: 0;
}
.irs .irs-from {
  font-size: 14px;
  border-radis: 0;
}
.irs .irs-to {
  font-size: 14px;
}
.plus {
  position: fixed;
  left: 2%;
  z-index: 0;
  top: 50%;
}
.plus span {
  font-size: 33px;
  color: #e46e6e;
}
.total {
  display: block;
  overflow-y: scroll;
  position: fixed;
  overflow-x: hidden;
  background: #eee;
  right: 0;
  top: 47px;
  z-index: -1;
  width: 100%;
  bottom: 0;
}
.total .opcion_casas {
  padding-top: 0;
  padding: 1.5em;
}
.total .opcion_casas .div_opciones_fechas {
  border-bottom: 1px solid #e7e7e7;
  padding: 0.5em;
  padding-bottom: 1em;
}
.total .opcion_casas input {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
.total .opcion_casas h4 {
  color: #777;
  margin-left: 13px;
}
.total .opcion_casas .range {
  margin-left: 25px;
  margin-top: 1em;
  width: 700px;
}
.total .opcion_casas .range h4 {
  color: #777;
  margin-left: 15px;
}
.total .posts {
  background: #eee;
}
.total .posts .post {
  padding: 0;
  background: #e7e7e7;
  display: inline-block;
  margin-right: 2%;
  margin-top: 4%;
  width: 120%;
  margin-left: -10%;
}
.total .posts .post .descripcion {
  color: #7a7a7a;
  font-style: italic;
  margin: 0;
}
.total .posts .post .descripcion .casa-foto {
  overflow-y: hidden;
  position: relative;
}
.total .posts .post .descripcion .casa-foto .price {
  background: #d94242;
  width: 100px;
  height: 37px;
  color: #fff;
  padding-top: 1em;
  padding-bottom: 0.5em;
  top: 72%;
  left: 0;
  position: absolute;
  text-align: center;
  opacity: 0.8;
  border: 2px solid #ffe;
  box-shadow: 14px 8px 22px rgba(65,63,61,0.7);
}
.total .posts .post .descripcion .casa-foto .price #simbolo_peso {
  color: balck;
  margin-left: 20px;
  margin-top: -11px;
}
.total .posts .post .descripcion .casa-foto .price #precio_valor {
  display: block;
  width: 100%;
  font-size: 23px;
  margin-top: -11px;
  margin-right: 30px;
}
.total .posts .post .image {
  display: inline-block;
  vertical-align: top;
  height: 220px;
  width: 293px;
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  -o-border-radius: 5;
  border-radius: 5;
}
.detalles {
  background: #fff;
  position: relative;
  height: 100px;
  width: 100%;
  top: 100%;
  left: -10%;
}
.detalles .image_owner {
  position: absolute;
  display: block;
  right: -25%;
  bottom: 99%;
}
.detalles .image_owner #owner {
  border: 3px solid #fff;
  width: 56px;
  height: 56px;
  -webkit-box-shadow: 2px 2px 10px rgba(65,63,61,0.7);
  -moz-box-shadow: 2px 2px 10px rgba(65,63,61,0.7);
  box-shadow: 2px 2px 10px rgba(65,63,61,0.7);
}
.btn-reserv {
  background: rgba(216,57,57,0.95);
  color: #fff;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
@media screen and (min-width: 468px) and (max-width: 992px) {
  #home_list {
    left: 26% !important;
  }
  .filtros {
    width: 23%;
  }
}
@media screen and (max-width: 768px) {
  .item {
    margin-left: -22px !important;
    width: 90% !important;
  }
  .categoria {
    top: 0 !important;
  }
  .filtros {
    position: absolute;
  }
}
@media screen and (min-width: 1024px) {
  .categoria {
    top: 7% !important;
  }
}
@media screen and (min-width: 320px) and (max-width: 768px) {
  .post {
    width: 102% !important;
    margin-left: -1% !important;
  }
  .detalles {
    width: 88% !important;
    left: -3% !important;
  }
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .price {
    top: 67% !important;
  }
}
